--extra-index-url https://download.pytorch.org/whl/cpu

# Servidor Web
fastapi
uvicorn[standard]
gunicorn
python-multipart

# Processamento de Áudio
librosa
soundfile
ffmpeg-python

# IA e Modelos
torch
transformers
accelerate
sentencepiece
bitsandbytes
safetensors
scipy

# Utilidades
pydantic